.skillContainer {
	width: 100%;
	height: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(5, 5, 5, 0.96);
	background-image: url("/public/metal.jpg");
	background-blend-mode: darken;


	box-shadow: 0px 15px 70px -30px rgba(68, 58, 156, 0.84);
	z-index: 1;
}

.projectsContainer {
	width: 100%;
	height: 100vh;

	background: linear-gradient(
		90deg,
		rgba(9, 14, 27, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}
.projectCard {
	width: 30%;
	height: 30%;
	border: white solid 1px;
	border-radius: 2rem;
	margin-top: 2%;
	/*margin: auto;*/
}

.skillContent {
	display: flex;
	flex-direction: row;
	overflow-x: visible;
	height: 100%;

}

.skillsLogo {
	width: 10%;

	margin: 1rem auto auto auto;


}
.skillsWrapper {
	display: flex;
	flex-direction: row;
	background-color: red;
	width: 100%;
	height: 100%;
}
.backgroundImage {
	width: 100%;
	height: 100%;
}
