.home {
	min-height: 100vh;
	min-width: 100%;

	background-image: url("/src/divers/pictures/fond2.4.jpg");

	background-size: cover;

	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 5rem;
	line-height: 7rem;
	flex-wrap: wrap;
	color: white;
	margin: 0;
}

.canvasContainer {
	width: 25%;
	height: 50%;
	margin-top: 20rem;
	margin-right: 15rem;
	position: fixed;
	right: 0;

}



.gros {
	display: flex;
	flex-direction: row;
}

.welcome {
	font-size: 1.2rem;
	background: rgb(9, 14, 27);
	background: linear-gradient(
		90deg,
		rgba(9, 14, 27, 1) 0%,
		rgba(3, 3, 3, 1) 100%
	);
	width: 35%;

	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;

	height: 5rem;
	border-radius: 1rem;
	border: white solid 1px;
}

.subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.presentation {
	font-size: 1.3rem;
	color: #878787;
	display: flex;
	flex-direction: column;
	width: 50%;
	flex-wrap: wrap;
}

.homeContent {
	display: flex;
	flex-direction: column;
	margin-left: 8rem;
	width: 80%;
	margin-top: 25rem;
}
.navBar {
	width: 100%;
	height: 10rem;
	margin-bottom: 7rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
}

.center {
	background-color: green;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.buttonLink {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	font-style: normal;
	margin: 1.5rem;
	padding: 1rem;
	font-weight: lighter;
	transition: all 0.1s ease-in-out;
	cursor: pointer;

}

.buttonLink:hover{
	transform: scale(1.1);
}
.buttonCircularLink {
	color: white;
	background-color: #1d1a2a;
	margin: 2rem;
	width: 2.5rem;
	height: 2.5rem;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: white solid 1px;
	transition: all 0.1s ease-in-out;


}
.buttonCircularLink:hover{
	animation: circle 0.1s ease-in;
	border:  2px solid #3d9dea;
	box-shadow: 1px 2px 27px 2px #24CEFF;
}
@keyframes circle {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.circularLinkContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.instagramLogo {
	width: 70%;
	height: 70%;
}
.gitLogo{
	width: 100%;
	height: 100%;

}

.nextContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.nextImg {
	width: 5rem;
	height: 5rem;
	margin-top: 3rem;
	transform-origin: 10% 10%;
	animation: test 1s linear alternate infinite;
}

@keyframes test {
	0% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	100% {
		transform: translate3d(0, 30%, 0) scale3d(1, 1, 1);
	}
}
